/**
 * Stylesheet for the page where a user is taking a quiz.
 */

body {
    line-height: 2em;
}

h2:nth-of-type(1) {
    margin-top: 0.4em;
}

h2:nth-of-type(n+2) {
    margin-top: 1em;
}

h2 {
    margin-bottom: 0.4em;
}

#edit, #edit img, #stats, #stats img {
    height: 24px;
}

#edit img {
    vertical-align: super;
}

#stats {
    margin-left: 10px;
}

#quiz_creator {
    font-size: 30px;
    margin-bottom: 10px;
}

#view_stats {
    font-size: 20px;
    margin-bottom: 40px;
}

.slider_val {
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}