<!DOCTYPE html>
<html lang="en">

<!-- We load scripts and set page metadata in the head. -->
<head>
    <title>Bread Type | {{ title }}</title>

    <link rel="icon" href="/favicon.ico?" />

    <!-- Loads the fonts we use from Google Fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+2%7CLobster%7CMontserrat:wght@500&display=swap" rel="stylesheet" />

    <!-- The stylesheet shared by all pages. -->
    <link type="text/css" rel="stylesheet" href="/base.css" />
    <!-- The code shared by all pages. -->
    <script src="/base.js"></script>

    {% block head %}
    {% endblock %}
</head>

<!-- All of the content of the page is kept in the body. -->
<body>
    <!-- The navigation bar at the top of each page. -->
    <nav>
        <a href="{{ url_for('main.home') }}">Home</a>

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('main.profile') }}">Profile</a>
        {% endif %}

        {% if not current_user.is_authenticated %}
        <a href="{{ url_for('auth.login') }}">Login</a>
        <a href="{{ url_for('auth.signup') }}">Sign Up</a>
        {% endif %}

        {% if current_user.is_authenticated %}
        <a href="{{ url_for('auth.logout') }}">Logout</a>
        {% endif %}
    </nav>

    {% block content %}
    {% endblock %}
</body>

</html>