{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/create_quiz/create_quiz.css" />
<!-- The code specific to this page. -->
<script src="/create_quiz/create_quiz.js"></script>
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="error">
    {{ message }}
</div>
{% endfor %}
{% endwith %}

<form action="{{ url_for('quiz.create_quiz') }}" method="POST">
    <label class="title" for="title">
        Quiz Title
    </label>
    <input type="text" name="title" id="title" placeholder="Quiz Title" value="{{ previous.get('title', '') }}">

    <label class="title" for="question_bank">Questions</label>
    <div id="question_bank">

        <!-- To be populated by the javascript functions on adding a question -->

    </div>
    
    <div id="add_question">
        <span>Add question</span>
        <br/>
        <img src="/res/add-icon.png" alt="Add question" />
    </div><br>

    <br>
    
    <input type="submit" value="Create">
</form>

{% endblock %}