{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/create_quiz/create_quiz.css" />
<!-- The code specific to this page. -->
<script src="/create_quiz/create_quiz.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="error">
    {{ message }}
</div>
{% endfor %}
{% endwith %}

<form action="{{ url_for('quiz.create_quiz') }}" method="POST">

    <label class="title" for="title">
        Quiz Title
    </label>
    <input type="text" name="title" id="title" placeholder="Quiz Title" value="{{ previous.get('title', '') }}">

    <br>
    <br>

    <label class="title" for="categories">
        Bread Types
    </label>
    <input type="text" name="category_1" class="categories" placeholder="Bread Type 1"
        style="width:50%; float: left;">
    <input type="text" name="category_2" class="categories" placeholder="Bread Type 2" 
        style="width:50%; float: right;">
    <input type="text" name="category_3" class="categories" placeholder="Bread Type 3" 
        style="width:50%; float: left;">
    <input type="text" name="category_4" class="categories" placeholder="Bread Type 4" 
        style="width:50%; float: right;">
    <!-- Styling is preferring base.css width=100% over class in create_quiz.css for some
        reason, so keeping like this til i can figure out why.-->

    <br class="clear">
    <br>

    <label class="title" for="question_bank">
        Questions
    </label>
    <div id="question_bank">

        <!-- To be populated by the javascript functions on adding a question -->

    </div>


    <div id="add_question">
        <span>Add question</span>
        <br/>
        <img src="/res/add-icon.png" alt="Add question" />
    </div>
    
    <br>
    <br>
    
    <div class="button">
        <input type="submit" value="Create">   
    </div>
    
    
    <div class="container">
        <h2>Confused on how to make a quiz?</h2>
        <!-- Trigger the modal with a button -->
        <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Help</button>
      
        <!-- Modal -->
        <div class="modal fade" id="myModal" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Instructions</h4>
              </div>
              <div class="modal-body">
                <p>Step 1. Add a title in Quiz Title(e.g What type of bread are you?</p>
                <p>Step 2. Chose four bread types which will correspond to the four possible
                     bread outcomes based on the answers you submit</p>
                <p>Step 3. Choose your style of question between multiple choice,
                     where you can assign a bread type that is most like the option for the question, or a discrete slider or a continous slider </p>
                <p>Step 4. Add more questions and repeat step 3.</p>
                <p>Step 5. Submit your quiz when you have finished creating questions</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      
</div>
</form>

{% endblock %}