{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/quiz/quiz.css" />
<!-- The code specific to this page. -->
<script src="/quiz/quiz.js"></script>
{% endblock %}


{% block content %}

{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="error">
    {{ message }}
</div>
{% endfor %}
{% endwith %}

<form action="{{ url_for('quiz.edit_quiz', quiz_id=quiz_id) }}" method="POST">
    <label for="title"><h2>Quiz Title</h2></label>
    <div class="text-field">
        <input type="text" name="title" id="title" placeholder="Quiz Title" value="{{ quiz_title }}">
    </div>

    <!-- This is majoritavely obsolete now. And since we can't just load the direct text input anymore,
    how the heck are we going to be able to edit a quiz? So much of it is created in JavaScript, so 
    we may have to literally recreate it using a lot of that same JS to get back to the original point.
    Shouldn't actually be too difficult, but defs tedious. -->

    <label for="questions"><h2>Questions</h2></label>
    <div class="text-field">
        <textarea name="questions" id="questions" placeholder="multi(A,B,C)">{{ questions_text }}</textarea>
    </div>

    <input type="submit" value="Make Changes">
</form>

{% endblock %}