{% extends "base.html" %}

<!-- This template creates the page used to edit quizzes. -->
<!-- This page is rather outdated and confusing, as unfortunately we did not -->
<!-- have the time to update it to function as the create quiz page does. -->
<!-- Therefore, it still uses a text representation of the quizzes. -->


{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/stylesheets/edit_quiz.css" />

<!-- The code specific to this page. -->
<script src="/scripts/edit_quiz.js"></script>
{% endblock %}


{% block content %}

<!-- If there were any errors with editing the quiz, they will be displayed here. -->
{% with messages = get_flashed_messages() %}
{% for message in messages %}
<div class="error">
    {{ message }}
</div>
{% endfor %}
{% endwith %}

<!-- This form allows users to edit the properties of a quiz. -->
<form action="{{ url_for('quiz.edit_quiz', quiz_id=quiz_id) }}" method="POST">

    <!-- Allow the user to edit the title of the quiz. -->
    <h2>Quiz Title</h2>
    <div class="text-field">
        <input type="text" name="title" id="title" placeholder="Quiz Title" value="{{ quiz_title }}">
    </div>

    <!-- Allow the user to edit the text-version of the quiz. -->
    <!-- This still uses the legacy system for creating quizzes -->
    <!-- before the new create quiz page was added. -->
    <h2>Questions</h2>
    <div class="text-field">
        <textarea name="encoded_text" id="encoded_text" placeholder="multi(A,B,C)">{{ questions_text }}</textarea>
    </div>

    <!-- Once the user has made their changes, they can submit the changes by clicking this button. -->
    <input type="submit" class="submit_changes" value="Make Changes">

    <!-- If a user wishes to delete their quiz, they can press this button three times. -->
    <div id="delete_container">
        <div id="delete">Delete Quiz</div>
    </div>
</form>

{% endblock %}