{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/home/home.css" />
<!-- The code specific to this page. -->
<script src="/home/home.js"></script>
{% endblock %}


{% block content %}
<p> Have you been going a bit stale in isolaton and wanted to find out what 
    type of bread you are? This versatile website allows users to create 
    their own doughy quizzes as well as try other uses crusty quizzes.  </p>
{% endblock %}