{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/home/home.css" />
<!-- The code specific to this page. -->
<script src="/home/home.js"></script>
{% endblock %}


{% block content %}
<br>
<h1>Welcome to BreadType!</h1>
<br>
<h2>What type of bread are you?</h2>
<br>

<div id="message">
    Have you been going a bit stale in isolaton and wanted to find out what
    type of bread you are? This versatile website allows users to create 
    their own doughy quizzes as well as try other users' crusty quizzes.
</div>

<div id="links">
    <a href="{{ url_for('quiz.view_quiz') }}">
        Jump In, Take a Quiz
    </a>
</div>

{% endblock %}