<!DOCTYPE html>
<html lang="en">

<!-- We load scripts and set page metadata in the head. -->
<head>
    <title>Bread Type</title>

    <!-- Loads the fonts we use from Google Fonts. -->
    <link href="https://fonts.googleapis.com/css?family=Baloo+2%7CLobster%7CMontserrat:wght@500&display=swap" rel="stylesheet" />

    <!-- The stylesheet specific to this page. -->
    <link type="text/css" rel="stylesheet" href="/index.css" />

    <!-- The code specific for the home page. -->
    <script src="/index.js"></script>
</head>

<!-- All of the content of the page is kept in the body. -->
<body>
    <p id="okay">
        It's working it's working!
    </p>
</body>

</html>