{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/login/login.css" />
<!-- The code specific to this page. -->
<script src="/login/login.js"></script>
{% endblock %}


{% block content %}
<form method="POST" action="/login">
    <label id="title">Bread Type Log In</label>
    <br/>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br/>
    <div id="login_error">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <input type="email" name="email" placeholder="Email" autofocus="">
    <input type="password" name="password" placeholder="Password">
    <button>Login</button>
</form>
{% endblock %}