{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/message/message.css" />
<!-- The code specific to this page. -->
<script src="/message/message.js"></script>
{% endblock %}


{% block content %}

<br/>
<h1>
    {{ message_title }}
</h1>
<br/>
<p>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <br/>
        <div id="message">
            {{ messages[0] }}
        </div>
    {% else %}
        {{ backup_message }}
    {% endif %}
    {% endwith %}
</p>

{% endblock %}