{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/profile/profile.css" />
<!-- The code specific to this page. -->
<script src="/profile/profile.js"></script>
{% endblock %}


{% block content %}
<div>
    {% if current_user.name == name %}
        Welcome, {{ name }}!
    {% else %}
        Welcome to {{ name }}'s profile!
    {% endif %}
</div>
<div>
    This is where all the quizes by this user will be 
</div>
{% endblock %}