{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/profile/profile.css" />
<!-- The code specific to this page. -->
<script src="/profile/profile.js"></script>
{% endblock %}


{% block content %}

<div>
    {% if current_user.is_authenticated and current_user.name == name %}
        Welcome, {{ name }}!
    {% else %}
        Welcome to {{ name }}'s profile!
    {% endif %}
</div>

{% if answer_sets|length > 0 %}
<div id="answer_sets">
    <h2>{{ "Your" if current_user.is_authenticated and current_user.name == name else name + "'s" }} Answers</h2>
    <table>
        <thead>
        <!-- Empty header row. -->
        <tr><th></th><th></th></tr>
        </thead>
        <tbody>
        {% for answer_set in answer_sets %}
        <tr>
            <td><a href="/quiz/{{ answer_set.quiz.id }}">{{ answer_set.quiz.name }}</a></td>
            <td>{{ answer_set.find_best_matching_category().name }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% if quizzes|length > 0 %}
<div id="quizzes">
    <h2>{{ "Your" if current_user.is_authenticated and current_user.name == name else name + "'s" }} quizzes</h2>
    <table>
        <thead>
        <tr>
            <th id="name_col"></th>
            {% if current_user.is_authenticated and current_user.name == name %}
                <th id="edit_col"></th>
            {% endif %}
        </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
        <tr>
            <td><a href="{{ url_for('quiz.take_quiz', quiz_id=quiz.id) }}">{{ quiz.name }}</a></td>

            {% if current_user.is_authenticated and current_user.name == name %}
                <td>
                    <a id="edit" href="{{ url_for('quiz.edit_quiz', quiz_id=quiz.id) }}">
                        <img src="/res/edit-icon.png" alt="Edit Quiz">
                    </a>
                </td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}