{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/profile/profile.css" />
<!-- The code specific to this page. -->
<script src="/profile/profile.js"></script>
{% endblock %}


{% block content %}
<div>
    {% if current_user.is_authenticated and current_user.name == name %}
        Welcome, {{ name }}!
    {% else %}
        Welcome to {{ name }}'s profile!
    {% endif %}
</div>
<div>
    <table>
        <thead>
        <tr>
            <th>Number</th>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for quiz in quizzes %}
        <tr>
            <td>{{ quiz.id }}</td>
            <td><a href="/quiz/{{ quiz.id }}">{{ quiz.name }}</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}