{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/quiz_stats/quiz_stats.css" />
<!-- The code specific to this page. -->
<script src="/quiz_stats/quiz_stats.js"></script>
<!-- We use chart.js to display some statistics. -->
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{% endblock %}


{% block content %}
<br/>
<h1 id="quiz_header">
    {{ quiz.name }}
</h1>

<br/>
<h2>User's Responses</h2>
<div id="category_breakdown">
    {{ quiz_stats.generate_category_breakdown_html()|safe }}
</div>

{% for question_stat in quiz_stats.question_stats %}
    <br/>
    <h2>{{ question_stat.question.text }}</h2>
    <div class="question_stats">
        {{ question_stat.generate_answer_summary_html()|safe }}
    </div>
{% endfor %}

{% endblock %}