{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/quiz/quiz.css" />
<!-- The code specific to this page. -->
<script src="/quiz/quiz.js"></script>
{% endblock %}


{% block content %}

<br/>

<h1 id="quiz_header">
    {{ quiz.name }}
</h1>

<h2 id="quiz_creator">
    A quiz by
    <a href="{{ url_for('main.profile', user_id=quiz.owner.id) }}">
        {{ quiz.owner.name }}
    </a>

    {% if can_edit_quiz %}
    <a id="edit" href="{{ url_for('quiz.edit_quiz', quiz_id=quiz.id) }}">
        <img src="/res/edit-icon.png" alt="Edit Quiz">
    </a>
    {% endif %}
</h2>

<br>

{% if can_edit_quiz %}
<div id="view_stats">
    <a id="stats" href="{{ url_for('quiz.view_quiz_stats', quiz_id=quiz.id) }}">
        View Quiz Stats
        <img src="/res/stats-icon.png" alt="View Quiz Stats" id="stats">
    </a>
</div>
{% endif %}

<form action="/quiz/{{ quiz.id }}" method="POST">
    <input type="hidden" name="answers_uuid" value="{{ answers_uuid }}">

    {% for index, question in quiz.enumerated_questions %}
        <h2>
            {{ question.text }}
        </h2>
        {{ question.write_html(index)|safe }}
    {% endfor %}

    <input type="submit" value="Submit">
</form>

{% endblock %}