{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/signup/signup.css" />
<!-- The code specific to this page. -->
<script src="/signup/signup.js"></script>
{% endblock %}


{% block content %}

<form method="POST" action="/signup">
    <label id="title">Bread Type Sign Up</label>
    <br/>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <br/>
    <div id="signup_error">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}

    <input type="email" name="email" placeholder="Email" autofocus="">
    <input type="text" name="name" placeholder="Name" autofocus="">
    <input type="password" name="password" placeholder="Password">
    
    <button>Sign Up</button>
</form>

{% endblock %}