{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/view_quiz/view_quiz.css" />
<!-- The code specific to this page. -->
<script src="/view_quiz/view_quiz.js"></script>
<style>
    a {
        text-decoration: none;
        color: rgb(240, 134, 152);
    }
    a:hover {
        color:pink;
    }

</style>
{% endblock %}

{% block content %}

<h1>Quizzes created by {{ current_user.name }}</h1>
<br>
<div>
    <table>
        <thead>
            <tr>
                <th>Number</th>
                <th>Name</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            <div>
            <tr>
                <td>{{ quiz.id }}</td>
                <td><a href="/quiz/{{ quiz.id }}">{{ quiz.name }}</a></td>
                <td><a href="/profile/{{ owner.id }}">{{ owner.name }}</a></td>
            </tr>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}