{% extends "base.html" %}

{% block head %}
<!-- The stylesheet specific to this page. -->
<link type="text/css" rel="stylesheet" href="/view_quiz/view_quiz.css" />
<!-- The code specific to this page. -->
<script src="/view_quiz/view_quiz.js"></script>
{% endblock %}

{% block content %}

<h1>All Quizzes</h1>
<br>
<div>
    <table>
        <thead>
            <tr>
                <th id="name_col">Quiz Name</th>
                <th>Created By</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz in quizzes %}
            <div>
            <tr>
                <td><a href="/quiz/{{ quiz.id }}">{{ quiz.name }}</a></td>
                <td><a href="/profile/{{ quiz.owner.id }}">{{ quiz.owner.name }}</a></td>
            </tr>
            </div>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}