/**
 * Stylesheet for the profile page.
 */

body {
    line-height: 2em;
}

table {
    vertical-align: center;
    table-layout: fixed;
    width: 100%;
    margin: 10px auto 20px;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
}

tr td {
    height: 50px;
}

#edit_col {
    width: 32px;
}


#quizzes, #answer_sets {
    margin-top: 50px;
}

#quizzes {
    margin-bottom: 50px;
}


#edit {
    opacity: 0.5;
}

#edit:hover {
    opacity: 1;
}

#edit, #edit img {
    height: 32px;
}

#edit img {
    vertical-align: middle;
}
