/**
 * Stylesheet for the profile page.
 */

body {
    line-height: 2em;
}

table {
    vertical-align: center;
    table-layout: fixed;
    width: 100%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

th, td {
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
}

tr td {
    height: 50px;
}


#quizzes, #answer_sets {
    margin-top: 50px;
}


#edit {
    opacity: 0.5;
}

#edit:hover {
    opacity: 1;
}

#edit, #edit img {
    height: 1em;
}

#edit img {
    vertical-align: super;
}

a {
    text-decoration: none;
    color: rgb(240, 134, 152);
}

a:hover {
    color: pink;
}
