/**
 * Stylesheet for the create quiz page.
 */

body {
    line-height: 2em;
}

.categories {
    width: 50%;
}

/* Category isn't overriding the base.css for some reason???*/

/*
 * Decoration for the titles in the page.
 * e.g. "Quiz Title" and "Questions"
 */

.title:nth-of-type(1) {
    margin-top: 10px;
}

.title:nth-of-type(n+2) {
    margin-top: 20px;
}

.title {
    display: block;
    font-size: 46px;
    margin-bottom: 15px;
}


/*
 * Decoration for checbox related content.
 */

.bread_check {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 15px;
    float: right;
    transform: scale(2);
}

.clear {
    clear: both;
}

.check_label {
    text-orientation: mixed;
    writing-mode: vertical-lr;
    float: right;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 5px;
}


/*
 * Decoration for the questions.
 */

.question {
    text-align: left;
}

.question_text label {
    font-size: 28px;
}

.question_text input {
    margin-top: 10px;
}

.question_type .choice {
    display: inline;
    margin-right: 25px;
}

.question_type .choice input {
    margin-right: 5px;
}

.question_config {
    margin-top: 10px;
    margin-bottom: 30px;
}


/*
 * Decoration for the "Add Question" button.
 */

#add_question img {
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
    vertical-align: middle;
}

#add_question:hover {
    color: #555555;
    cursor: pointer;
}

#add_question:hover img {
    opacity: 0.7;
}

/* styling for the help button to overide the bootstrap styling*/
.btn {
    padding-left: 15px;
    padding-right: 15px;
    height: 50px;
    margin-top: 1em;
    margin-bottom: 100px;
    border-radius:0%;
    background-color: #3A7734;

    font-size: 1em;
    color: white;
    font-family: 'Montserrat', serif;
    line-height: 1.2em;
    box-sizing: border-box;
    border: none;
}


.btn:hover {
    cursor: pointer;
    background-color: #1A5714;
}
