/**
 * Stylesheet for the create quiz page.
 */

body {
    line-height: 2em;
}

.categories {
    width: 50%;
}

/*
 * Decoration for the titles in the page.
 * e.g. "Quiz Title" and "Questions"
 */

.title:nth-of-type(1) {
    margin-top: 10px;
}

.title:nth-of-type(n+2) {
    margin-top: 20px;
}

.title {
    display: block;
    font-size: 46px;
    margin-bottom: 15px;
}


/*
 * Decoration for checkbox related content.
 */

input[type=checkbox].bread_check {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 15px;
    float: right;
    transform: scale(2);
}

input[type=checkbox].bread_check:hover {
    cursor: pointer;
}

.clear {
    clear: both;
}

.check_label, .num_label {
    text-orientation: mixed;
    writing-mode: vertical-lr;
    float: right;
    font-size: 20px;
    margin-left: 8px;
    margin-right: 5px;
}

label {
    max-width: 80%;
}

/*
 * Decoration for number input related content.
 */
input[type=number] {
    width: 120px;
    margin-right: 20px;
    max-width: 80%;
}

input[type=number].number_check {
    margin-left: -12px;
    margin-right: -12px;
    margin-top: 10px;
    width: 60px;
    float: right;
    transform: scale(0.5);
}


/*
 * Decoration for the questions.
 */

.question {
    text-align: left;
}

.question_text label {
    font-size: 28px;
}

.question_text input {
    margin-top: 10px;
}

.question_type .choice {
    display: inline;
    margin-right: 25px;
}

.question_type .choice input {
    margin-right: 5px;
}

.question_config {
    margin-top: 10px;
    margin-bottom: 30px;
}


/*
 * Decoration for the "Add Question" button.
 */

#add_question img {
    display: inline-block;
    max-width: 40px;
    max-height: 40px;
    vertical-align: middle;
}

#add_question:hover {
    color: #555555;
    cursor: pointer;
}

#add_question:hover img {
    opacity: 0.7;
}



/*
 * Decoration for the help button.
 */
#help {
    height: 50px;
}

#help .modal-content {
    text-align: left;
}

#help .modal-body {
    font-size: 0.8em;
}

#help button {
    float: right;
    padding-left: 5px;
    padding-right: 5px;
    height: 34px;
    border-radius: 0;
    background-color: #1E90FF;

    font-size: 0.8em;
    color: white;
    font-family: 'Montserrat', serif;
    line-height: 1em;
    box-sizing: border-box;
    border: none;
}

#help button.help {
    width: 34px;
}

#help button.close_bottom {
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
}

#help button.close {
    opacity: 0.8;
    width: 34px;
    background-color: black;
}

#help button:hover {
    cursor: pointer;
    background-color: #1873CC;
}

#help button.close:hover {
    opacity: 1;
    background-color: black;
}
