/**
 * Stylesheet for the home page.
 */

body {
    line-height: 2em;
}

#home {
    max-width: 600px;
    text-align: center;
    font-size: 2em;

    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
}
