
* {
    font-family: 'Montserrat', serif;
    padding: 0;
    margin: 0;
    line-height: 1.2em;
}

html, body {
    width: 100%;
    height: 100%;
}

nav {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
}

nav a {
    display: inline-block;
    padding: 10px 10px;

    font-size: 2em;
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: #555555;
}

#content {
    max-width: 800px;
    text-align: center;
    font-size: 2em;

    margin-left: auto;
    margin-right: auto;
}
